@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --bg-gradient: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    --header-color: hsl(238, 29%, 16%);
    --q-txt-color: hsl(237, 12%, 33%);
    --a-txt-color: hsl(240, 6%, 50%);
    --hover-txt-color: hsl(14, 88%, 65%);
    --hr-color: hsl(240, 5%, 91%);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 14px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-gradient);
    overflow: hidden;
}

.card-wrapper {
    /* this is so that the box image can overflow since the actual card's overflow is set to hidden */
    width: 920px;
    height: 510px;
    border-radius: 25px;
    position: relative;
    background-color: white;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.woman-container {
    height: 100%;
    width: 390px;
    display: flex;
    align-items: center;

    /* lots of trial and error to line this up, but now you know how to manipulate CSS background-images */
    background-image: url('./images/bg-pattern-desktop.svg');
    background-origin: border-box;
    background-position: 100% 67%;
    background-repeat: no-repeat;
    background-size: 250%;
}

#woman {
    height: 360px;
    width: auto;
    transform: translateX(-83px);
    z-index: 3;
}

#cube {
    position: absolute;
    z-index: 4;
    left: -90px;
    top: 41%;
}

.txt-container {
    width: 460px;
    padding: 70px 80px;
}

h1 {
    margin: 0;
    margin-bottom: 1em;
    font-size: 32px;
    color: var(--header-color);
}

.question {
    line-height: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--q-txt-color);
}

.question span {
    /* this means clicking on span will trigger the parent div to eliminate javascript complications */
    pointer-events: none;
}

.active {
    /* this class will be added to the clicked question with JS */
    color: var(--header-color);
    font-weight: 700;
}

.question img {
    height: 0.5em;
    margin-right: 1em;
    transition: all 0.4s ease;
}

.active img {
    transform: rotate(-180deg);
}

.question:hover {
    cursor: pointer;
    color: var(--hover-txt-color);
}

.answer {
    /* in order to transition the height of the answer, you must use max-height because display is not animatable. height alone does not work because css needs an actual value to translate, so just set max-height in the JS file to something bigger than your answer will ever get */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    color: var(--a-txt-color);
    font-size: 12px;
}

hr {
    border: 1px solid var(--hr-color);
    margin: 1.3rem 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    width: 100vw;
    position: absolute;
    bottom: 10px; 
    color: white;
}

.attribution a { 
    color: var(--hover-txt-color); 
    font-weight: 700;
}

@media (max-width: 940px) {
    .card-wrapper {
        width: 330px;
        height: 550px;
        align-self: center;
        transform: translateY(2%);
    }

    .card {
        flex-direction: column;
        overflow: visible;
        
    }
    
    .woman-container {
        position: fixed;
        height: 235px;
        width: 100%;
        flex-direction: column;
    
        background-image: url('./images/bg-pattern-mobile.svg');
        background-position: 45px 0%;
        background-size: 75%;
    }
    
    #woman {
        height: auto;
        width: 235px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -60%);
    }
    
    #cube {
        left: -2%;
        top: -15.5%;
        transform: scale(50%);
    }
    
    .txt-container {
        width: 280px;
        padding: 140px 25px 45px 25px;
        z-index: 10;
    }
    
    h1 {
        text-align: center;
    }
    
    .question {
        font-size: 13px;
    }
    
    .question img {
        margin-right: 0.3em;
    }
    
    .answer {
        font-size: 11px;
    }
    
    .attribution { 
        display: none;
    }
}